# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CovScript Headers
include/covscript
include/libdll
include/mozart
include/sparsepp

# Builds
build/
cmake-build/

# ImGUI Files
imgui.ini

# IDEs
.vscode/
.idea/
cmake-build-debug/

# Garbage Files
.DS_Store